html,
body {
    font-family: 'Roboto', 'Helvetica', sans-serif;
}

#name {
    font-family: 'Oleo Script', cursive;
    font-size: 20px;
}

.introduction {
    width: 1022px;
}

.my-topics {
    padding-left: 0;
}

.objective,
.mission,
.philosophy {
    min-height: 260px;
}

.objective > .mdl-card__title {
    color: #fff;
    background: url('../img/objective.jpg') no-repeat #46B6AC;
}

.mission > .mdl-card__title {
    color: #fff;
    background: url('../img/mission.jpg') no-repeat #46B6AC;
}

.philosophy > .mdl-card__title {
    color: #fff;
    background: url('../img/philosophy.jpg') no-repeat #46B6AC;
}

.demo-card-wide.mdl-card {
    width: 800px;
    margin-bottom: 10px;
}

.logo {
    width: 100px;
    min-height: 100px;
}

.github.logo.mdl-card {
    background: url('../img/github-logo.png') no-repeat;
}

.ng2.logo.mdl-card {
    background: url('../img/ng2-logo.png') no-repeat;
}

.mdl.logo.mdl-card {
    background: url('../img/mdl-logo.png') no-repeat;
}

.webpack.logo.mdl-card {
    background: url('../img/webpack-logo.png') no-repeat;
}

.npm.logo.mdl-card {
    background: url('../img/npm-logo.png') no-repeat;
}

.json-rest.logo.mdl-card {
    background: url('../img/json-rest-logo.png') no-repeat;
}

.node.logo.mdl-card {
    background: url('../img/node-logo.jpg') no-repeat;
}

.typescript.logo.mdl-card {
    background: url('../img/typescript-logo.png') no-repeat;
}

.es6.logo.mdl-card {
    background: url('../img/es6-logo.png') no-repeat;
}

.html5.logo.mdl-card {
    background: url('../img/html5-logo.png') no-repeat;
}

.logo .material-icons {
    position: absolute;
    top: 78px;
    left: 74px;
}

.softSkills > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../img/skillBanner.jpg') center / cover;
}

.skill-box {
    margin-bottom: 10px;
}

.skill-programming {
    background: url('../img/programming.png') no-repeat top;
    background-position: 8px 15px;
}

.skill-java {
    background: url('../img/java.png') no-repeat top;
    background-position: 8px 15px;
}

.skill-web {
    background: url('../img/web.png') no-repeat top;
    background-position: 8px 15px;
}

.skill-database {
    background: url('../img/database.png') no-repeat top;
    background-position: 8px 15px;
}

.skill-os {
    background: url('../img/os.png') no-repeat top;
    background-position: 8px 15px;
}

.mdl-card__supporting-text {
    color: black;
}

section .section__circle-container > .section__circle-container__circle {
    width: 64px;
    height: 64px;
    border-radius: 32px;
    margin: 8px 0;
}

section .section__text h5 {
    font-size: inherit;
    margin: 0;
    margin-bottom: 0.5em;
}

.list-container-text {
    border-bottom: 1px solid rgba(0, 0, 0, .13);
}

.mdl-card__supporting-text h4 {
    margin-top: 0;
    margin-bottom: 20px;
}

section .section__text {
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding-top: 8px;
}

section .section__circle-container {
    width: 50px;
}

.list-container mdl-card__supporting-text{
    margin: 10px;
}   

.list-container {
    width: 500px;
}

.list-container .section__text {
    padding-top: 20px;
}

.github-project.mdl-card {
  width: 600px;
  background: #69f0ae;
  margin-bottom: 10px;
}
.github-project > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.github-project > .mdl-card__title {
  align-items: flex-start;
  color: black !important;
}
.github-project > .mdl-card__title > h4 {
  margin-top: 0;
}
.github-project > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
  align-items: center;
}
.github-project > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}
.github-project > .mdl-card__title,
.github-project > .mdl-card__actions,
.github-project > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.github-link {
    margin-right: 8px;
    line-height: inherit;
}

.achievements-box {
    margin-bottom: 10px;
}

.achievement-holberton {
    background: url('../img/holberton.png') no-repeat top;
    background-position: 31px 14px;
}

.achievement-developer-week {
    background: url('../img/award.png') no-repeat top;
    background-position: 31px 14px;
}

.mdl-layout-title {
    color: black;
}

.link {
    color: black;
}

.mdl-layout__content {
    background-color: #fff59d !important;
}